# Environment Variables
.env

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Python Cache
__pycache__/
*.py[cod]

# Runtime Data
data/account.json
data/blockchain.json
data/pending_txn.json

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
